table {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}
tr,th {
    margin-top: 5px;
    padding: 1px 5px;
}

tr {
    border: 2px solid black;
}

button {
    margin-left: 5px;
}

.edit-form {
    display: flex;
    align-items: center;
}